@use './variables' as *;
@use './mixins' as *;

@font-face {
  font-family: 'Avenir-Regular';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../assets/fonts/AvenirNextLTPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Demi';
  src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
    url('../assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-bold';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
    url('../assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@mixin fonts-site-regular($font-size, $line-height) {
  font-family: 'Avenir-Regular';
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin fonts-site-bold($font-size, $line-height) {
  font-family: 'Avenir-bold';
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin fonts-site-demi($font-size, $line-height) {
  font-family: 'Avenir-Demi';
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
}

//MOBILE
@mixin mobile-header-bold {
  @include fonts-site-bold(1.5rem, 2rem);
}

@mixin mobile-header-regularLess {
  @include fonts-site-regular(1.0rem, 2rem);
}

@mixin mobile-subheader-regular {
  @include fonts-site-regular(0.875rem, 1.375rem);
}

@mixin mobile-subheader-demi {
  @include fonts-site-demi(0.875rem, 1.375rem);
}

@mixin mobile-subheader-bold {
  @include fonts-site-bold(0.875rem, 1.375rem);
}

@mixin mobile-body-regular {
  @include fonts-site-regular(0.8125rem, 1.125rem);
}

@mixin mobile-footer-regular {
  @include fonts-site-regular(0.8125rem, 1.125rem);
}

@mixin mobile-footer-demi {
  @include fonts-site-demi(0.8125rem, 1.125rem);
}

@mixin mobile-footer-button-regular {
  @include fonts-site-regular(0.625rem, 1.25rem);
}

//Tablets & Desktop

@mixin desk-tab-subheader-regular {
  @include fonts-site-regular(1.15rem, 2rem);
}

@mixin desk-tab-subheader-demi {
  @include fonts-site-demi(1.15rem, 2rem);
}
@mixin desk-tab-subheader-bold {
  @include fonts-site-bold(1.15rem, 2rem);
}

@mixin desk-tab-body-regular {
  @include fonts-site-regular(0.875rem, 1.375rem);
}

@mixin desk-tab-header-bold {
  @include fonts-site-bold(3rem, 3.5rem);
}

@mixin desk-tab-body-bold {
  @include fonts-site-bold(0.875rem, 1.375rem);
}
