@use './variables' as *;
@use './mixins' as *;

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../assets/fonts/AvenirNextLTPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'AvenirNextLTPro';
//   src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('woff2'), url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('woff');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'AvenirNextLTPro';
//   src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('woff2'), url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

//Fonts
@mixin fonts-site($font-size, $line-height, $font-weight) {
  font-family: 'AvenirNextLTPro';
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

//MOBILE TEXT STYLES
@mixin fonts-page-header-mobile {
  @include fonts-site(1.5rem, 2rem, $bold);
}

@mixin fonts-section-header-mobile {
  @include fonts-site(1.5rem, 2rem, $bold);
}

@mixin fonts-subheader-mobile {
  @include fonts-site(0.875rem, 1.375rem, $demi);
}

@mixin fonts-body-copy-mobile {
  @include fonts-site(0.8125rem, 1.125rem, $regular);
}

@mixin fonts-footer-copy-mobile {
  @include fonts-site(0.8125rem, 1.125rem, $regular);
}

@mixin fonts-labels-button-mobile {
  @include fonts-site(0.625rem, 1.25rem, $bold);
}

//DESKTOP & TABLET TEXT STYLES

@mixin fonts-page-header-desktop-tablet {
  @include fonts-site(3.75rem, 4.25rem, $bold);
}

@mixin fonts-section-header-desktop-tablet {
  @include fonts-site(2.25rem, 2.75rem, $bold);
}

@mixin fonts-subheader-desktop-tablet {
  @include fonts-site(1.5rem, 2rem, $demi);
}

@mixin fonts-body-copy-desktop-tablet {
  @include fonts-site(0.875rem, 1.375rem, $regular);
}

@mixin fonts-footer-copy-desktop-tablet {
  @include fonts-site(0.875rem, 1.25rem, $regular);
}

@mixin fonts-labels-button-desktop-tablet {
  @include fonts-site(0.75rem, 1.25rem, $bold);
}
