//colors

$bandSite-Black: #323232;
$silver: #afafaf;
$white: #ffffff;
$bandSite-DarkBlack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//font-weights

$regular: 400;
$demi: 600;
$bold: 700;
