@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.about {
  margin-top: 99px;
}
@media screen and (min-width: 48rem) {
  .about {
    margin-top: 73px;
  }
}
@media screen and (min-width: 80rem) {
  .about {
    margin-top: 81px;
  }
}
.about__background {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
}
@media screen and (min-width: 48rem) {
  .about__background {
    height: 23rem;
  }
}
.about__overlay {
  height: 18rem;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  padding: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .about__overlay {
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    height: 23rem;
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__overlay {
    padding: 0 5rem;
  }
}
.about__bio {
  margin: 1.5rem 1rem 0;
}
@media screen and (min-width: 48rem) {
  .about__bio {
    margin: 3rem 2.25rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .about__bio {
    margin: 3rem 5rem 0;
  }
}
.about__bio-header {
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__bio-header {
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 2.25rem;
  }
}
.about__bio-img {
  background-image: url("../assets/images/band.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
}
@media screen and (min-width: 48rem) {
  .about__bio-img {
    margin: 0 72px;
  }
}
@media screen and (min-width: 80rem) {
  .about__bio-img {
    margin: 0 10rem;
  }
}
.about__blockquote-speech {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__blockquote-speech {
    margin: 2.25rem 72px 0;
  }
}
@media screen and (min-width: 80rem) {
  .about__blockquote-speech {
    margin: 2.25rem 10rem 0;
  }
}
.about__blockquote-speech, .about__blockquote-author {
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .about__blockquote-speech, .about__blockquote-author {
    font-family: "Avenir-Demi";
    font-style: normal;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
.about__blockquote-author {
  margin-top: 10px;
}
.about__article {
  margin: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__article {
    margin: 2.25rem 108px 0;
    gap: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__article {
    margin: 2.25rem 15rem 0;
  }
}
.about__article-header {
  font-family: "Avenir-Demi";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .about__article-header {
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
.about__article-main {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__article-main {
    font-family: "Avenir-Regular";
    font-style: normal;
    font-size: 1rem;
    line-height: 1.375rem;
    flex-direction: row;
    gap: 2.25rem;
  }
}

.gallery {
  margin: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery {
    margin: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    margin: 3rem 5rem 2.25rem;
  }
}
.gallery__header {
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__header {
    padding-bottom: 2.25rem;
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__images {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
  .gallery__images img {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__images img {
    margin-bottom: 2rem;
  }
}
.gallery__images img {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .gallery__images img {
    width: 31%;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__images img {
    filter: grayscale(1);
    transition: 0.7s ease-in-out;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__images img:hover {
    filter: grayscale(0);
  }
}

.conversation {
  margin: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 48rem) {
  .conversation {
    margin: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .conversation {
    margin: 3rem 5rem 2.25rem;
  }
}
.conversation__header {
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .conversation__header {
    padding-bottom: 2.25rem;
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.conversation__main-group {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .conversation__main-group {
    margin: 0 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .conversation__main-group {
    margin: 0 16rem;
  }
}
.conversation__form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .conversation__form {
    width: 100%;
    padding-bottom: 2rem;
  }
}
.conversation__form-photo {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 1.6rem;
}
@media screen and (min-width: 48rem) {
  .conversation__form-photo {
    width: 3rem;
    height: 3rem;
    margin-top: 0.938rem;
  }
}
.conversation__form label {
  padding-bottom: 0.25rem;
  font-family: "Avenir-Demi";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
}
.conversation__form input,
.conversation__form textarea {
  margin-bottom: 1rem;
  padding: 0.34rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  resize: none;
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .conversation__form input,
  .conversation__form textarea {
    margin-bottom: 2rem;
  }
}
.conversation__form input:hover,
.conversation__form textarea:hover,
.conversation__form input:active,
.conversation__form textarea:active,
.conversation__form input:focus,
.conversation__form textarea:focus {
  border: 1px solid #000000;
}
.conversation__form button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0.5625rem 0;
  background-color: #323232;
  color: #ffffff;
  font-family: "Avenir-Demi";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .conversation__form button {
    width: 33%;
    display: flex;
    align-self: end;
    justify-content: center;
  }
}
.conversation__form button:hover {
  background-color: #000000;
}

.comment {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .comment {
    margin: 0 4rem;
  }
}
@media screen and (min-width: 80rem) {
  .comment {
    margin: 0 16rem;
  }
}
.comment__wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .comment__wrapper {
    padding: 2rem 0;
  }
}
.comment__img {
  height: 2.25rem;
  width: 2.25rem;
  background-color: #e1e1e1;
  border-radius: 50%;
}
@media screen and (min-width: 48rem) {
  .comment__img {
    width: 3rem;
    height: 3rem;
  }
}
.comment__group {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 48rem) {
  .comment__group {
    width: 89%;
  }
}
.comment__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.comment__header-name {
  font-family: "Avenir-Demi";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .comment__header-name {
    font-family: "Avenir-Demi";
    font-style: normal;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
.comment__header-date {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
}
@media screen and (min-width: 48rem) {
  .comment__header-date {
    font-family: "Avenir-Regular";
    font-style: normal;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
.comment__text {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .comment__text {
    font-family: "Avenir-Regular";
    font-style: normal;
    font-size: 1rem;
    line-height: 1.375rem;
  }
}/*# sourceMappingURL=bio.css.map */