@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

.about {
  margin-top: 6.188rem;

  @include tablet {
    margin-top: 4.563rem;
  }
  @include desktop {
    margin-top: 5.063rem;
  }

  &__background {
    background-image: url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;

    @include tablet {
      height: 23rem;
    }
  }

  &__overlay {
    height: 18rem;
    background-color: rgb(50, 50, 50, 0.5);
    display: flex;

    @include mobile-header-bold;
    justify-content: start;
    align-items: center;
    color: $white;
    padding: 0 1rem;

    @include tablet {
      @include desk-tab-header-bold;
      height: 23rem;
      padding: 0 2.25rem;
    }

    @include desktop {
      padding: 0 5rem;
    }
  }

  &__bio {
    margin: 1.5rem 1rem 0;

    @include tablet {
      margin: 3rem 2.25rem 0;
    }
    @include desktop {
      margin: 3rem 5rem 0;
    }

    &-header {
      @include mobile-header-bold;
      color: $bandsite-black;
      padding-bottom: 1rem;
      @include tablet {
        @include desk-tab-header-bold;
        padding-bottom: 2.25rem;
      }
    }

    &-img {
      background-image: url('../assets/images/band.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 18rem;
      @include tablet {
        margin: 0 4.5rem;
      }
      @include desktop {
        margin: 0 10rem;
      }
    }
  }

  &__blockquote-speech {
    margin-top: 1rem;

    @include tablet {
      margin: 2.25rem 4.5rem 0;
    }
    @include desktop {
      margin: 2.25rem 10rem 0;
    }
  }
  &__blockquote-speech,
  &__blockquote-author {
    @include mobile-subheader-bold;
    @include tablet {
      @include desk-tab-subheader-demi;
    }
  }

  &__blockquote-author {
    margin-top: 0.625rem;
  }

  &__article {
    margin: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      margin: 2.25rem 6.75rem 0;
      gap: 2.25rem;
    }
    @include desktop {
      margin: 2.25rem 15rem 0;
    }

    &-header {
      @include mobile-subheader-demi;

      @include tablet {
        @include desk-tab-subheader-bold;
      }
    }

    &-main {
      @include mobile-body-regular;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include tablet {
        @include desk-tab-body-regular;
        flex-direction: row;
        gap: 2.25rem;
      }
    }
  }
}

.gallery {
  margin: 1.5rem 1rem 1rem;

  @include tablet {
    margin: 3rem 2.25rem 2.25rem;
  }
  @include desktop {
    margin: 3rem 5rem 2.25rem;
  }
  &__header {
    @include mobile-header-bold;
    color: $bandsite-black;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2.25rem;
      @include desk-tab-header-bold;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 0;
      img {
        margin-bottom: 1.5rem;
      }
    }

    @include desktop {
      img {
        margin-bottom: 2rem;
      }
    }

    img {
      width: 100%;

      @include tablet {
        width: 31%;
      }
      @include desktop {
        filter: grayscale(1);
        transition: 0.7s ease-in-out;
      }
    }

    img:hover {
      @include desktop {
        filter: grayscale(0);
      }
    }
  }
}

.conversation {
  margin: 1.5rem 1rem 1rem;

  @include tablet {
    margin: 3rem 2.25rem 2.25rem;
  }
  @include desktop {
    margin: 3rem 5rem 2.25rem;
  }
  &__header {
    @include mobile-header-bold;
    color: $bandsite-black;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2.25rem;
      @include desk-tab-header-bold;
    }
  }

  &__main-group {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid $mercury;

    @include tablet {
      margin: 0 4rem;
    }

    @include desktop {
      margin: 0 16rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 2rem;

    @include tablet {
      width: 100%;
      padding-bottom: 2rem;
    }

    &-photo {
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
      margin-top: 1.6rem;

      @include tablet {
        width: 3rem;
        height: 3rem;
        margin-top: 0.938rem;
      }
    }

    label {
      padding-bottom: 0.25rem;

      @include mobile-subheader-demi;
      color: $silver;
    }

    input,
    textarea {
      margin-bottom: 1rem;
      padding: 0.34rem;
      border: 1px solid $mercury;
      border-radius: 4px;
      background-color: $alabaster;
      resize: none;

      @include mobile-subheader-regular;

      @include tablet {
        margin-bottom: 2rem;
      }
    }

    input:hover,
    textarea:hover,
    input:active,
    textarea:active,
    input:focus,
    textarea:focus {
      border: 1px solid $bandSite-DarkBlack;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;
      padding: 0.5625rem 0;

      background-color: $bandsite-black;
      color: $white;

      @include mobile-subheader-demi;

      @include tablet {
        width: 33%;
        display: flex;
        align-self: end;
        justify-content: center;
      }
    }

    button:hover {
      background-color: $bandSite-DarkBlack;
    }
  }
}

.comment {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  @include tablet {
    margin: 0 4rem;
  }
  @include desktop {
    margin: 0 16rem;
  }

  &__wrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
      padding: 2rem 0;
    }
  }

  &__img {
    height: 2.25rem;
    width: 2.25rem;
    background-color: $mercury;
    border-radius: 50%;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 80%;

    @include tablet {
      width: 89%;
    }
    @include desktop {
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    @include tablet {
    }

    &-name {
      @include mobile-subheader-demi;

      @include tablet {
        @include desk-tab-subheader-demi;
      }
    }

    &-date {
      @include mobile-subheader-regular;
      color: $silver;

      @include tablet {
        @include desk-tab-subheader-regular;
      }
    }
  }
  &__text {
    @include mobile-subheader-regular;

    @include tablet {
      @include desk-tab-body-regular;
    }
  }
}
