@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

.about {
  margin-top: 99px;

  @include tablet {
    margin-top: 73px;
  }
  @include desktop {
    margin-top: 81px;
  }

  &__background {
    background-image: url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;

    @include tablet {
      height: 23rem;
    }
  }

  &__overlay {
    height: 18rem;
    background-color: rgb(50, 50, 50, 0.5);
    display: flex;

    @include mobile-header-bold;
    justify-content: start;
    align-items: center;
    color: $white;
    padding: 0 1rem;

    @include tablet {
      @include desk-tab-header-bold;
      height: 23rem;
      padding: 0 2.25rem;
    }

    @include desktop {
      padding: 0 5rem;
    }
  }

  &__bio {
    margin: 1.5rem 1rem 0;

    @include tablet {
      margin: 3rem 2.25rem 0;
    }
    @include desktop {
      margin: 3rem 5rem 0;
    }

    &-header {
      @include mobile-header-bold;
      color: $bandsite-black;
      padding-bottom: 1rem;
      @include tablet {
        @include desk-tab-header-bold;
        padding-bottom: 2.25rem;
      }
    }

    &-img {
      background-image: url('../assets/images/band.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 18rem;
      @include tablet {
        margin: 0 72px;
      }
      @include desktop {
        margin: 0 10rem;
      }
    }
  }

  &__blockquote-speech {
    margin-top: 1rem;

    @include tablet {
      margin: 2.25rem 72px 0;
    }
    @include desktop {
      margin: 2.25rem 10rem 0;
    }
  }
  &__blockquote-speech,
  &__blockquote-author {
    @include mobile-subheader-bold;
    @include tablet {
      @include desk-tab-subheader-demi;
    }
  }

  &__blockquote-author {
    margin-top: 10px;
  }

  &__article {
    margin: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      margin: 2.25rem 108px 0;
      gap: 2.25rem;
    }
    @include desktop {
      margin: 2.25rem 15rem 0;
    }

    &-header {
      @include mobile-subheader-demi;

      @include tablet {
        @include desk-tab-subheader-bold;
      }
    }

    &-main {
      @include mobile-body-regular;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include tablet {
        @include desk-tab-body-regular;
        flex-direction: row;
        gap: 2.25rem;
      }
    }
  }
}

.gallery {
  margin: 1.5rem 1rem 1rem;

  @include tablet {
    margin: 3rem 2.25rem 2.25rem;
  }
  @include desktop {
    margin: 3rem 5rem 2.25rem;
  }
  &__header {
    @include mobile-header-bold;
    color: $bandsite-black;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2.25rem;
      @include desk-tab-header-bold;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      display: flex;
    }

    img {
      width: 100%;

      @include tablet {
        width: 31%;
      }
      @include desktop {
        filter: grayscale(1);
        transition: 0.7s ease-in-out;
      }
    }

    img:hover {
      @include desktop {
        filter: grayscale(0);
      }
    }
  }
}
