@use 'partials/variables' as *;
@use 'partials/typography' as *;
@use 'partials/mixins' as *;

* {
  margin: 0;
  padding: 0;
  // border: 1px dotted darkblue;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style-type: none;
  }
}

.nav {
  background: $bandsite-black;
  width: 100%;
  position: fixed;
  top: 0;

  &__wrapper {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__logo-link {
    display: flex;
    justify-content: center;

    img {
      width: 120px;
      height: 20px;
    }
  }

  &__links {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  &__links-a {
    @include fonts-subheader-mobile-regular;

    color: $mercury;
    display: flex;
    width: 50%;
    justify-content: center;
  }
  &__links-a:hover {
    border-bottom: 2px solid $white;
    padding-bottom: 16px;
  }
  &__links-active {
    @include fonts-subheader-mobile-bolt;
    color: $white;
    border-bottom: 2px solid $white;
    padding-bottom: 16px;
  }
}

.footer {
  background: $bandsite-black;
  width: 100%;
  &__wrapper {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__header {
    @include fonts-page-header-mobile-bolt;
    color: $white;
  }

  &__links {
    display: flex;
    justify-self: start;
    gap: 16px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  &__main,
  &__main-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__main-group {
    @include fonts-footer-copy-mobile-regular;
    color: $white;
  }

  &__group-header {
    @include fonts-footer-copy-mobile-demi;
  }

  &__group-mailto {
    a {
      color: $white;
    }
  }

  &__logo {
    padding-top: 26px;
    display: flex;
    justify-content: start;

    img {
      width: 120px;
      height: 20px;
    }
  }
  &__copyright {
    @include fonts-labels-button-mobile-regular;
    color: $white;
  }
}
