@use 'partials/variables' as *;
@use 'partials/typography' as *;
@use 'partials/mixins' as *;

* {
  margin: 0;
  padding: 0;
  // border: 1px dotted darkblue;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style-type: none;
  }
}

.nav {
  background: $bandsite-black;
  width: 100%;
  position: fixed;
  top: 0;

  &__wrapper {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include tablet {
      flex-direction: row;
      gap: 50px;
      padding-left: 36px;
      align-items: baseline;
    }
  }

  &__logo-link {
    display: flex;
    justify-content: center;

    img {
      width: 120px;
      height: 20px;
    }
  }

  &__links {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;

    @include tablet {
      gap: 50px;
    }
  }
  &__links-a {
    @include mobile-subheader-regular;

    @include tablet {
      @include desk-tab-subheader-regular;
    }

    color: $mercury;
    display: flex;
    width: 50%;
    justify-content: center;
  }
  &__links-a:hover {
    border-bottom: 2px solid $white;
    padding-bottom: 16px;
  }
  &__links-active {
    @include mobile-subheader-bold;
    color: $white;
    border-bottom: 2px solid $white;
    padding-bottom: 16px;

    @include tablet {
      @include desk-tab-subheader-demi;
    }
  }
}

.footer {
  background: $bandsite-black;
  width: 100%;
  &__wrapper {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      padding: 48px 36px;
    }
  }

  &__wrapper-tablet {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__wrapper-left {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 36px;
    }
  }

  &__header {
    @include mobile-header-bold;
    color: $white;

    @include tablet {
      @include desk-tab-header-bold;
    }
  }

  &__links {
    margin-top: 16px;
    display: flex;
    justify-self: start;
    gap: 16px;

    @include tablet {
      margin-top: 0;
    }

    img {
      width: 25px;
      height: 25px;

      @include tablet {
        width: 36px;
        height: 36px;
      }
    }
  }

  &__main,
  &__main-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__main {
    @include tablet {
      padding: 36px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__main-group {
    @include mobile-footer-regular;
    color: $white;

    @include tablet {
      @include desk-tab-body-regular;
    }
  }

  &__group-header {
    @include mobile-footer-demi;

    @include tablet {
      @include desk-tab-body-bold;
    }
  }

  &__group-mailto {
    a {
      color: $white;
    }
  }

  &__logo-phone {
    padding-top: 26px;
    display: flex;
    justify-content: start;
    @include tablet {
      padding-top: 0;
      display: none;
    }

    img {
      width: 120px;
      height: 20px;
    }
  }

  &__logo-tablet {
    display: none;
    @include tablet {
      padding-top: 0;
      display: flex;
    }
  }
  &__copyright {
    @include mobile-footer-button-regular;
    color: $white;
  }
}
