@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.nav {
  background: #323232;
  width: 100%;
  position: fixed;
  top: 0;
}
.nav__wrapper {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 48rem) {
  .nav__wrapper {
    flex-direction: row;
    gap: 50px;
    padding-left: 36px;
    align-items: baseline;
  }
}
.nav__logo-link {
  display: flex;
  justify-content: center;
}
.nav__logo-link img {
  width: 120px;
  height: 20px;
}
.nav__links {
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
}
@media screen and (min-width: 48rem) {
  .nav__links {
    gap: 50px;
  }
}
.nav__links-a {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #e1e1e1;
  display: flex;
  width: 50%;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .nav__links-a {
    font-family: "Avenir-Regular";
    font-style: normal;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}
.nav__links-a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 16px;
}
.nav__links-active {
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 16px;
}
@media screen and (min-width: 48rem) {
  .nav__links-active {
    font-family: "Avenir-Demi";
    font-style: normal;
    font-size: 1.15rem;
    line-height: 2rem;
  }
}

.footer {
  background: #323232;
  width: 100%;
}
.footer__wrapper {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper {
    padding: 48px 36px;
  }
}
@media screen and (min-width: 48rem) {
  .footer__wrapper-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 48rem) {
  .footer__wrapper-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
  }
}
.footer__header {
  font-family: "Avenir-bold";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .footer__header {
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.footer__links {
  margin-top: 16px;
  display: flex;
  justify-self: start;
  gap: 16px;
}
@media screen and (min-width: 48rem) {
  .footer__links {
    margin-top: 0;
  }
}
.footer__links img {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 48rem) {
  .footer__links img {
    width: 36px;
    height: 36px;
  }
}
.footer__main, .footer__main-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 48rem) {
  .footer__main {
    padding: 36px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__main-group {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .footer__main-group {
    font-family: "Avenir-Regular";
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer__group-header {
  font-family: "Avenir-Demi";
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .footer__group-header {
    font-family: "Avenir-bold";
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer__group-mailto a {
  color: #ffffff;
}
.footer__logo-phone {
  padding-top: 26px;
  display: flex;
  justify-content: start;
}
@media screen and (min-width: 48rem) {
  .footer__logo-phone {
    padding-top: 0;
    display: none;
  }
}
.footer__logo-phone img {
  width: 120px;
  height: 20px;
}
.footer__logo-tablet {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo-tablet {
    padding-top: 0;
    display: flex;
  }
}
.footer__copyright {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #ffffff;
}/*# sourceMappingURL=global.css.map */